<!DOCTYPE html>
<html>
<head>
	<title>Sign In</title>
	<script src="{{ url_for('static', filename='jquery.js')}}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" media="screen and (max-width: 500px)">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstarp.css') }}"> 
	<script src="{{ url_for('static', filename='bootstarp.js')}}"></script> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='W3.css') }}">
<!-- 	<meta name="viewport" content="height=device-height, initial-scale=1.0"/> -->
</head>
<body class="background-img">
<div class="container"> <!--navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{url_for('home')}}">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Areas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">North</a></li>
            <li><a href="#">South</a></li>
            <li><a href="#">Center</a></li>
            <li><a href="#">Jerusalem</a></li>
          </ul>
        </li>
        {%if nav_fix != True%}
        <li><a href="{{url_for('my_profile')}}">My Profile</a></li>
        {%endif%}
        <li><a href="#">About Me</a></li>
      </ul>
		{% if nav_fix == True %}
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{url_for('sign_up')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li class="active"><a href="{{url_for('sign_in')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
		{%else%}
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
		</ul>
		{%endif%}
    </div>
  </div>
</nav>


<div class="container" style="padding-right:0px; padding-left:0px">
	<div class="wrapper">

	<form action="{{url_for('sign_in')}}" method="post" class="form-signin">       
		<h3 style="color:white; position:center;">Welcome Back! Please Sign In</h3>
		
		<input type="text" class="form-control" name="username" placeholder="Username" required=""/ style="border-bottom:transparent;">
		<input type="password" class="form-control" name="password" placeholder="Password" required=""/>
		<br>
		{% if error == True %}
		<div class="alert alert-danger">
		  The email or phone number you’ve entered doesn’t match any account. <a href="{{url_for('sign_up')}}" class="alert-link">Sign up for an account.</a>
		</div>
		{%endif%}
		<div class="row">
  			<div class="col-xs-6">
				<button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit" style="border-radius: 0px;">Login</button>
			</div> 
			<div class="col-xs-6">
				<center>
				<a href="{{url_for('sign_up')}}" class="btn btn-lg btn-primary btn-block" role="button" style="background-color:#FF754F; border-radius: 0px;">Sign Up</a>
				</center>  
			</div>
		</div>
	</form>     
	</div>
</div>
</body>
</html>